* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: pappins sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo img {
  height: 100px;
}

.nav-links,
.nav-icons {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;

}

.nav-links li {
  margin-left: 100px;
}

.nav-icons li {
  margin-left: 45px;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #bbbbbb;
}



.nav-link i {
  font-size: 20px;
  color: black;
  transition: color 0.3s ease;
}

.nav-link i:hover {
  color: #9f9f9f;
}

.nav-icon {
  color: black;
}

.nav-icon i:hover {
  color: #bbbbbb;
}






.carousel-container {
  height: 500px;
  width: 90%;
  margin: auto;
}

#carouselExample,
.carousel-inner,
#carousel-item img {
  height: 100%;
}


.home-text p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  margin-top: 50px;
}



.recommended-image  {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger .line {
  width: 25px;
  height: 3px;
  background: #333;
  margin: 3px 0;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #ffffff;
    position: absolute;
    top: 60px;
    right: 20px;
    border-radius: 10px;
    padding: 10px;
  }

  .nav-links.active {
    display: flex;
  }

  .burger {
    display: flex;
  }
}