* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: pappins sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo img {
  height: 100px;
}

.nav-links,
.nav-icons {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;

}

.nav-links li {
  margin-left: 100px;
}

.nav-icons li {
  margin-left: 45px;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #bbbbbb;
}



.nav-link i {
  font-size: 20px;
  color: black;
  transition: color 0.3s ease;
}

.nav-link i:hover {
  color: #9f9f9f;
}

.nav-icon {
  color: black;
}

.nav-icon i:hover {
  color: #bbbbbb;
}

.home-header2,
.carousel-container {
  height: 700px;
  width: 90%;
  margin: auto;
}

#carouselExample,
.carousel-inner,
#carousel-item img {
  height: 100%;
  margin: auto;
}


.home-text p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  margin-top: 50px;
}



.home-recommended-image {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px;

}

.home-pack img,
.home-recommended-image img{
  width: auto;
  max-width: 300px; 
  height: auto;
}



.home-header2 img {
  width: 100%;
  margin: auto;
  height: 100%;
}

.home-text2 p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  margin-top: 50px;
}

.home-pack{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 55px;
}

.footer-container{
  display: flex;
  background-color:#D9D9D9;
  justify-content: space-between;
  padding: 35px;
  font-size: 20px;
}

