*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    align-items: center;
    background-color: #ffffff;
    padding: 20px 20px;
}

.navbar-nav{
    display: flex;
    justify-content: end;
    align-items: center; 
    width: 100%;
}

.navbar-nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}

.nav-container{
    display: flex;

    
}

.nav-icon{
    margin-top: 20px;

}

.nav-container i{
    justify-content: center;
    color: rgb(0, 0, 0);

}

li{
    list-style: none;
    padding: 12px 45px;
}

.nav-link {
    margin: 0 105px 0 150px;
}